<%- include('./partials/header') %>

  <div class="container">
   <div class="row">
    <br><br><br>

     <% locationFound.forEach(function(spot){ %>
      
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card request-status-bg mb-4 py-1  shadow-sm  bg-white rounded">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <center><img src="https://cdn.icon-icons.com/icons2/2642/PNG/512/google_map_location_logo_icon_159350.png" height="100"/></center>
                    <center class="py-4"><b class="text-danger">  <%= spot.parking_spot_location %></b></center>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <p class="card-text mx-1 mt-1"><strong>Spot name:</strong> <%= spot.parking_spot_name %></p>
                    <p class="card-text mx-1 mt-1"><strong>Address:</strong> <%= spot.parking_spot_address %>, <%= spot.parking_spot_location %></p>
                    <p class="card-text mx-1"><strong>Opening time:</strong> <%= spot.open_time.hour %> : <%= spot.open_time.minute %></p>
                    <p class="card-text mx-1"><strong>Closing time:</strong> <%= spot.close_time.hour %> : <%= spot.close_time.minute %></p>
                    <div class="row">
                      <div class="col-5">
                          <p class="card-text mx-1"><strong>Slots available:</strong>
                      </div>
                      <div class="col-2">
                        <form action="decrease/<%= spot._id %>/<%= spot.number_of_available_spots %>" method="post">
                          <button type="submit" class="btn btn-danger"><i class="fas fa-angle-down"></i>
                        </form>
                      </div>
                      <div class="col-2">
                        <p class="card-text mx-1"><%= spot.number_of_available_spots %></p>
                      </div>
                      <div class="col-2">
                        <form action="/increase/<%= spot._id %>/<%= spot.number_of_available_spots %>" method="POST">
                          <button type="submit" class="btn btn-success"><i class="fas fa-angle-up"></i>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <% }) %>

   </div>
 </div>



<%- include('./partials/footer') %>
